apache-airflow-client==2.7.0
psycopg2-binary<=2.9.9
selenium==4.12.0
beautifulsoup4==4.12.2
pytest==7.4.2
s3fs==2023.9.1
minio==7.1.16
duckdb==0.8.1
polars[all]==0.19.9
python-dotenv==1.0.0
black==22.8.0
flake8==5.0.4
mypy==0.971
isort==5.10.1